<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bi.EconomicGrowth">
    <select id="selectStateDebt" parameterType="hashMap" resultType="hashMap">
        select yr_dt as yrDt, unit, val from national_debt
    </select>

    <insert id="insertStateDebt" parameterType="hashMap">
        INSERT INTO national_debt
            (yr_dt, unit, val)
        VALUES(#{yr_dt}, #{unit}, #{val});

    </insert>

    <insert id="insertGDP" parameterType="hashMap">
        INSERT INTO gdp
            (yr_dt, unit, val)
        VALUES(#{yr_dt}, #{unit}, #{val});

    </insert>

    <insert id="insertGDI" parameterType="hashMap">
        INSERT INTO gdi
            (yr_dt, unit, val)
        VALUES(#{yr_dt}, #{unit}, #{val});

    </insert>

    <insert id="insertGNI" parameterType="hashMap">
        INSERT INTO gni
            (yr_dt, unit, val)
        VALUES(#{yr_dt}, #{unit}, #{val});

    </insert>

    <insert id="insertGrowthRate" parameterType="hashMap">
        INSERT INTO enmc_grrt
            (yr_dt, cty_nm, unit, val)
        VALUES(#{yr_dt}, #{cty_nm}, #{unit}, #{val});
    </insert>

    <insert id="insertBaseRate" parameterType="hashMap">
        INSERT INTO base_rate
            (yr_dt, mon_dt, dy_dt, unit, val)
        VALUES(#{yr_dt}, #{mon_dt}, #{dy_dt}, #{unit}, #{val})
    </insert>

    <insert id="insertExchangeRate" parameterType="hashMap">
        INSERT INTO exchn_rate
            (yr_dt, mon_dt, dy_dt, type, unit, val)
        VALUES(#{yr_dt}, #{mon_dt}, #{dy_dt}, #{type}, #{unit}, #{val});
    </insert>

    <insert id="insertConsumerPriceInflation" parameterType="hashMap">
        INSERT INTO cnsmr_inrt
            (yr_dt, mon_dt, unit, val)
        VALUES(#{yr_dt}, #{mon_dt}, #{unit}, #{val});

    </insert>

    <insert id="insertCoreInflationRate" parameterType="hashMap">
        INSERT INTO src_inrt
            (yr_dt, mon_dt, unit, val)
        VALUES(#{yr_dt}, #{mon_dt}, #{unit}, #{val});

    </insert>

    <insert id="insertLivingInflationRate" parameterType="hashMap">
        INSERT INTO lvng_inrt
            (yr_dt, mon_dt, unit, val)
        VALUES(#{yr_dt}, #{mon_dt}, #{unit}, #{val});

    </insert>
</mapper>