<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bi.StockPrices">
    <insert id="insertKospi" parameterType="hashMap">
        INSERT INTO kospi_index
        (yr_dt
        , mon_dt
        , unit
        , val)
        VALUES
        (#{yrDt}
        , #{monDt}
        , #{unit}
        , #{val})
    </insert>
    <insert id="insertKosdaq" parameterType="hashMap">
        INSERT INTO kosdaq_index
        (yr_dt
        , mon_dt
        , unit
        , val)
        VALUES
        (#{yrDt}
        , #{monDt}
        , #{unit}
        , #{val})
    </insert>
    <insert id="insertBirth" parameterType="hashMap">
        INSERT INTO birth_progress
        (yr_dt
        , unit
        , val)
        VALUES
        (#{yrDt}
        , #{unit}
        , #{val})
    </insert>
    <insert id="insertDeath" parameterType="hashMap">
        INSERT INTO death_progress
        (yr_dt
        , unit
        , val)
        VALUES
        (#{yrDt}
        , #{unit}
        , #{val})
    </insert>
    <insert id="insertLifeExpectancy" parameterType="hashMap">
        INSERT INTO life_expectancy
        (yr_dt
        , unit
        , man_val
        , wmn_val)
        VALUES
        (#{yrDt}
        , #{unit}
        , #{manVal}
        , #{womanVal})
    </insert>
</mapper>