<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bi.front.EconomicGrowth">

    <!-- 경제성장률 -->
    <select id="selectEconomicGrowth" parameterType="hashMap" resultType="hashMap">
        SELECT cty_nm, val
        FROM enmc_grrt
        WHERE yr_dt = #{yr_dt}
    </select>

    <!-- 경제성장률 기간 상세 설정 -->
    <select id="selectEconomicGrowthPeriod" parameterType="hashMap" resultType="hashMap">
        SELECT cty_nm, val
        FROM enmc_grrt
        WHERE yr_dt = #{searchDate}
    </select>

    <!-- 환율 -->
    <select id="selectExchangeRate" parameterType="hashMap" resultType="hashMap">
        SELECT *
        FROM exchn_rate
        WHERE type = '원/미국달러'
          AND CONCAT(yr_dt, mon_dt, dy_dt) =
              (SELECT CONCAT(yr_dt, mon_dt, dy_dt)
               FROM exchn_rate
               WHERE type = '원/미국달러'
               ORDER BY CONCAT(yr_dt, mon_dt, dy_dt) DESC
            LIMIT 1)
    </select>
    <!--  전일 환율 (변동률 계산)  -->
    <select id="selectExchangeRateCompare" parameterType="hashMap" resultType="hashMap">
        SELECT *
        FROM exchn_rate
        WHERE type = '원/미국달러'
          AND CONCAT(yr_dt, mon_dt, dy_dt) =
              (SELECT CONCAT(yr_dt, mon_dt, dy_dt)
               FROM exchn_rate
               WHERE type = '원/미국달러'
               ORDER BY CONCAT(yr_dt, mon_dt, dy_dt) DESC
            LIMIT 1
        OFFSET 1)
    </select>

    <!--  기준금리  -->
    <select id="selectBaseRate" parameterType="hashMap" resultType="hashMap">
        SELECT val
        FROM base_rate
        WHERE yr_dt = (SELECT MAX(yr_dt) FROM base_rate)
          AND mon_dt = (SELECT MAX(mon_dt) FROM base_rate WHERE yr_dt = (SELECT MAX(yr_dt) FROM base_rate))
        ORDER BY dy_dt DESC LIMIT 1
    </select>

    <!--  기준금리 (변동률 계산)  -->
    <select id="selectBaseRateCompare" parameterType="hashMap" resultType="hashMap">
        SELECT val
        FROM base_rate
        WHERE yr_dt = (SELECT MAX(yr_dt) FROM base_rate)
          AND mon_dt = (SELECT MAX(mon_dt) FROM base_rate WHERE yr_dt = (SELECT MAX(yr_dt) FROM base_rate))
        ORDER BY dy_dt DESC LIMIT 1
        OFFSET 1
    </select>

    <!--  GDP  -->
    <select id="selectGDP" parameterType="hashMap" resultType="hashMap">
        SELECT real_val, unit
        FROM gdp
        ORDER BY yr_dt DESC LIMIT 1
    </select>

    <!--  GNI  -->
    <select id="selectGNI" parameterType="hashMap" resultType="hashMap">
        SELECT val, unit
        FROM gni
        ORDER BY yr_dt DESC LIMIT 1
    </select>

    <!-- 경제성장률  -->
    <select id="selectEnmcGrrt" parameterType="hashMap" resultType="hashMap">
        SELECT cty_nm, unit, val
        FROM enmc_grrt
        WHERE yr_dt = (SELECT yr_dt FROM enmc_grrt ORDER BY yr_dt DESC LIMIT 1)
    </select>

    <!-- 경제성장률(지역 설정)  -->
    <select id="selectEnmcGrrtRegionSet" parameterType="hashMap" resultType="hashMap">
        SELECT cty_nm, unit, val
        FROM enmc_grrt
        WHERE yr_dt = (SELECT yr_dt FROM enmc_grrt ORDER BY yr_dt DESC LIMIT 1)
          AND cty_nm = #{cty_nm}
    </select>

    <!--  소비자 물가 상승률  -->
    <select id="selectCnsmrInrt" parameterType="hashMap" resultType="hashMap">
        SELECT val
        FROM cnsmr_inrt
        ORDER BY CONCAT(yr_dt, Mon_dt) DESC LIMIT 1
    </select>

    <!--  근원 물가 상승률  -->
    <select id="selectSrcInrt" parameterType="hashMap" resultType="hashMap">
        SELECT val
        FROM src_inrt
        ORDER BY CONCAT(yr_dt, Mon_dt) DESC LIMIT 1
    </select>

    <!--  생활 물가 상승률  -->
    <select id="selectLvngInrt" parameterType="hashMap" resultType="hashMap">
        SELECT val
        FROM lvng_inrt
        ORDER BY CONCAT(yr_dt, Mon_dt) DESC LIMIT 1
    </select>

    <!--  소비자 물가 상승률 차트 -->
    <select id="selectCnsmrInrtPeriod" parameterType="hashMap" resultType="hashMap">
        SELECT val, '소비' AS category, CONCAT(yr_dt, '.', mon_dt) AS period
        FROM cnsmr_inrt
        WHERE yr_dt = #{searchDate}
    </select>

    <!--  근원 물가 상승률 차트 -->
    <select id="selectSrcInrtPeriod" parameterType="hashMap" resultType="hashMap">
        SELECT val, '근원' AS category, CONCAT(yr_dt, '.', mon_dt) AS period
        FROM src_inrt
        WHERE yr_dt = #{searchDate}
    </select>

    <!--  생활 물가 상승률 차트 -->
    <select id="selectLvngInrtPeriod" parameterType="hashMap" resultType="hashMap">
        SELECT val, '생활' AS category, CONCAT(yr_dt, '.', mon_dt) AS period
        FROM lvng_inrt
        WHERE yr_dt = #{searchDate}
    </select>

    <!--  소비자 물가 상승률 차트 기간 상세 설정 -->
    <select id="selectCnsmrInrtDetail" parameterType="hashMap" resultType="hashMap">
        SELECT val, '소비' AS category, CONCAT(yr_dt, '.', mon_dt) AS period
        FROM cnsmr_inrt
        WHERE CONCAT(yr_dt, mon_dt) BETWEEN #{searchStartDate} AND #{searchEndDate}

    </select>

    <!--  근원 물가 상승률 차트 기간 상세 설정 -->
    <select id="selectSrcInrtDetail" parameterType="hashMap" resultType="hashMap">
        SELECT val, '근원' AS category, CONCAT(yr_dt, '.', mon_dt) AS period
        FROM src_inrt
        WHERE CONCAT(yr_dt, mon_dt) BETWEEN #{searchStartDate} AND #{searchEndDate}
    </select>

    <!--  생활 물가 상승률 차트 기간 상세 설정 -->
    <select id="selectLvngInrtDetail" parameterType="hashMap" resultType="hashMap">
        SELECT val, '생활' AS category, CONCAT(yr_dt, '.', mon_dt) AS period
        FROM lvng_inrt
        WHERE CONCAT(yr_dt, mon_dt) BETWEEN #{searchStartDate} AND #{searchEndDate}
    </select>

    <!--  코로나 시기 경제 성장률  -->
    <select id="selectCovidGrowth" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, val
        FROM enmc_grrt
        WHERE yr_dt BETWEEN 2019 AND (SELECT yr_dt FROM enmc_grrt ORDER BY yr_dt DESC LIMIT 1) AND cty_nm = '전국'
    </select>

    <!--  국가 채무 현황  -->
    <select id="selectStateDebt" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, unit, val
        FROM national_debt
        WHERE yr_dt BETWEEN (SELECT yr_dt FROM national_debt ORDER BY yr_dt DESC LIMIT 1) - #{searchPeriod}
          AND (
        SELECT yr_dt
        FROM national_debt
        ORDER BY yr_dt DESC LIMIT 1)
    </select>

    <!--  국가 채무 현황 기간 세부 설정  -->
    <select id="selectStateDebtDetail" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, unit, val
        FROM national_debt
        WHERE yr_dt BETWEEN YEAR (#{searchStartDate}) AND YEAR (#{searchEndDate})
    </select>

    <!-- 실질 및 명목 GDP  -->
    <select id="selectWholeGDP" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, unit, real_val, nmnl_val
        FROM gdp
        WHERE yr_dt BETWEEN (SELECT yr_dt FROM gdp ORDER BY yr_dt DESC LIMIT 1) - #{searchPeriod}
          AND (
        SELECT yr_dt
        FROM national_debt
        ORDER BY yr_dt DESC LIMIT 1)
    </select>

    <!-- 실질 및 명목 GDP 기간 세부 설정  -->
    <select id="selectWholeGDPDetail" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, unit, real_val, nmnl_val
        FROM gdp
        WHERE yr_dt BETWEEN YEAR (#{searchStartDate}) AND YEAR (#{searchEndDate})
    </select>

</mapper>