<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bi.front.RealEstate">
    <!--  행정구역별 매매거래  -->
    <select id="selectAptSalesStatus" parameterType="hashMap" resultType="hashMap">
        SELECT cty_nm, SUM(val) AS val
        FROM apt_account
        WHERE yr_dt = #{searchDate}
          AND cty_nm != '전국'
        GROUP BY cty_nm
    </select>

    <!--  연령대별 매매거래  -->
    <select id="selectAgeAptSales" parameterType="hashMap" resultType="hashMap">
        SELECT age, SUM(val) AS val
        FROM age_apt
        WHERE age != '매입자연령대' AND yr_dt = #{searchDate}
        GROUP BY age
    </select>

    <!--  건축년수별 매매거래  -->
    <select id="selectBuiltYear" parameterType="hashMap" resultType="hashMap">
        SELECT COUNT(*) AS    val,
               CASE
                   WHEN YEAR (SYSDATE()) - built_year <![CDATA[<]]> 5 THEN '5년 미만'
        WHEN 5 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 10 THEN '10년 미만'
        WHEN 10 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 15 THEN '15년 미만'
        WHEN 15 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 20 THEN '20년 미만'
        WHEN 20 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 25 THEN '25년 미만'
        WHEN 25 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 30 THEN '30년 미만'
        WHEN 30 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 35 THEN '35년 미만'
        WHEN 35 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 40 THEN '40년 미만'
        WHEN 40 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 45 THEN '45년 미만'
        WHEN 45 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 50 THEN '50년 미만'
        WHEN 50 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 55 THEN '55년 미만'
        WHEN 55 <![CDATA[<=]]> YEAR(SYSDATE()) - built_year AND
        YEAR(SYSDATE()) - built_year <![CDATA[<]]> 60 THEN '60년 미만'
        WHEN YEAR(SYSDATE()) - built_year <![CDATA[>=]]> 60 THEN '60년 이상'
        END
        AS term
        FROM trade_apt WHERE built_year != 'None' AND
        trade_year =
        #{searchDate}
        GROUP
        BY
        term
        ORDER
        BY
        CAST
        (
        term
        AS
        UNSIGNED
        )
    </select>

    <!--  지역별 인구수  -->
    <select id="selectRegionPopulation" parameterType="hashMap" resultType="hashMap">
        SELECT cty_nm, SUM(val) AS val
        FROM gender_population
        WHERE yr_dt = #{searchDate}
          AND mon_dt = (SELECT mon_dt FROM gender_population WHERE yr_dt = #{searchDate} ORDER BY mon_dt DESC LIMIT 1)
          AND cty_nm != '전국'
          AND cty_nm = dst_nm
        GROUP BY cty_nm
    </select>

    <!--  미분양주택 및 소비자 물가 상승률률  -->
    <select id="selectUnsoldAndCnsmr" parameterType="hashMap" resultType="hashMap">
        SELECT CONCAT(yr_dt, '/', mon_dt) AS period, SUM(val) AS val, 'unsold' as type
        FROM unsold_house
        WHERE CONCAT(yr_dt, mon_dt) BETWEEN CONCAT(#{searchDate}, '01')
            AND
            (SELECT CONCAT(yr_dt, mon_dt)
             FROM unsold_house
             ORDER BY CONCAT(yr_dt, mon_dt) DESC
            LIMIT 1)
          AND dst_nm = '계'
        GROUP BY period

        UNION ALL

        SELECT CONCAT(yr_dt, '/', mon_dt) as period, FORMAT(val, 1) as val, 'cnsmr' as type
        FROM cnsmr_inrt
        WHERE CONCAT(yr_dt, mon_dt) BETWEEN CONCAT(#{searchDate}, '01')
                  AND
                  (SELECT CONCAT(yr_dt, mon_dt)
                   FROM unsold_house
                   ORDER BY CONCAT(yr_dt, mon_dt) DESC
            LIMIT 1)
    </select>

    <!--  셩별 소유자 비율  -->
    <select id="selectOwnerByGender" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, man_cnt, wmn_cnt, ttl_cnt, unit
        FROM gender_age_apt
        WHERE yr_dt = (SELECT yr_dt FROM gender_age_apt ORDER BY yr_dt DESC LIMIT 1)
          AND cty_nm = '전국'
          AND dst_nm = '전국'
          AND age = '총계'
    </select>

    <!--  셩별 소유자 비율(기간설정)  -->
    <select id="selectOwnerByGenderPeriod" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, man_cnt, wmn_cnt, ttl_cnt, unit
        FROM gender_age_apt
        WHERE yr_dt = #{searchDate}
          AND cty_nm = '전국'
          AND dst_nm = '전국'
          AND age = '총계'
    </select>

    <!--  연령 별 소유자 비율  -->
    <select id="selectOwnerByAge" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, age, SUM(ttl_cnt) AS val, unit
        FROM gender_age_apt
        WHERE yr_dt = (SELECT yr_dt FROM gender_age_apt ORDER BY yr_dt DESC LIMIT 1)
          AND age NOT IN ('총계')
          AND cty_nm NOT IN ('전국')
          AND dst_nm NOT IN ('전국')
        GROUP BY age
    </select>

    <!--  연령 별 소유자 비율(기간설정)  -->
    <select id="selectOwnerByAgePeriod" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt, age, SUM(ttl_cnt) AS val, unit
        FROM gender_age_apt
        WHERE yr_dt = #{searchDate}
          AND age NOT IN ('총계')
          AND cty_nm NOT IN ('전국')
          AND dst_nm NOT IN ('전국')
        GROUP BY age
    </select>
</mapper>