<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="bi.front.StockPrices">

    <sql id="offsetWhere">
        <if test='recent != null and recent != ""'>
            LIMIT 1
        </if>
        <if test='offset != null and offset != ""'>
            LIMIT 1 OFFSET 1
        </if>
    </sql>

    <!-- 코스피 지수 -->
    <select id="selectKospiIndex" parameterType="hashMap" resultType="hashMap">
        SELECT yr_dt  AS yrDt
             , mon_dt AS monDt
             , dy_dt  AS dyDt
             , CONCAT(yr_dt, '.', mon_dt, '.', dy_dt) AS baseDate
             , unit
             , val
            FROM kospi_index
            WHERE CONCAT(yr_dt, mon_dt, dy_dt) =
                  (
                  SELECT CONCAT(yr_dt, mon_dt, dy_dt)
                      FROM kospi_index
                      ORDER BY CONCAT(yr_dt, mon_dt, dy_dt) DESC
                      <include refid="offsetWhere"/>
                  )
    </select>
    <!-- 코스닥 지수 -->
    <select id="selectKosdaqIndex" resultType="hashMap">
        SELECT yr_dt  AS yrDt
             , mon_dt AS monDt
             , dy_dt  AS dyDt
             , CONCAT(yr_dt, '.', mon_dt, '.', dy_dt) AS baseDate
             , unit
             , val
            FROM kosdaq_index
            WHERE CONCAT(yr_dt, mon_dt, dy_dt) =
                  (
                  SELECT CONCAT(yr_dt, mon_dt, dy_dt)
                      FROM kospi_index
                      ORDER BY CONCAT(yr_dt, mon_dt, dy_dt) DESC
                      <include refid="offsetWhere"/>
                  )
    </select>
    <!-- 최근 유가 -->
    <select id="selectOilPrice" resultType="hashMap">
        SELECT yr_dt  AS yrDt
             , mon_dt AS monDt
             , CONCAT(yr_dt, '.', mon_dt) AS baseDate
             , unit
             , val
            FROM oil_price
            WHERE CONCAT(yr_dt, mon_dt) =
                  (
                  SELECT CONCAT(yr_dt, mon_dt)
                      FROM oil_price
                      ORDER BY CONCAT(yr_dt, mon_dt) DESC
                      <include refid="offsetWhere"/>
                  )
    </select>

    <!--  코로나 시기 kospi  -->
    <select id="selectCovidKospi" parameterType="hashMap" resultType="hashMap">
        SELECT CONCAT(yr_dt, '/', mon_dt, '/', dy_dt)  AS kospiDate
             , val
            FROM kospi_index
            WHERE CONCAT(yr_dt, mon_dt) BETWEEN 201912 AND (
                                         SELECT CONCAT(yr_dt, mon_dt)
                                             FROM kospi_index
                                             ORDER BY yr_dt DESC
                                             LIMIT 1
                                         )
    </select>
    <!--  기준금리와 kospi  -->
    <select id="selectBaseRateAndKospi" parameterType="hashMap" resultType="hashMap">
        SELECT CONCAT(ki.yr_dt, '/', ki.mon_dt, '/', ki.dy_dt) AS date
             , ki.val
             , 'kospi'                                AS type
            FROM kospi_index ki INNER JOIN base_rate br ON CONCAT(ki.yr_dt, ki.mon_dt, ki.dy_dt) = CONCAT(br.yr_dt, br.mon_dt, br.dy_dt)
            WHERE ki.yr_dt BETWEEN (
                                SELECT yr_dt
                                    FROM kospi_index
                                    ORDER BY yr_dt DESC
                                    LIMIT 1
                                ) - #{searchPeriod}
                      AND (
                          SELECT yr_dt
                              FROM kospi_index
                              ORDER BY yr_dt DESC
                              LIMIT 1
                          )
        UNION ALL
        SELECT CONCAT(br.yr_dt, '/', br.mon_dt, '/', br.dy_dt) AS baseDate
             , br.val
             , 'base'                                 AS type
            FROM base_rate br INNER JOIN kospi_index ki ON CONCAT(ki.yr_dt, ki.mon_dt, ki.dy_dt) = CONCAT(br.yr_dt, br.mon_dt, br.dy_dt)
            WHERE br.yr_dt BETWEEN (
                                SELECT yr_dt
                                    FROM base_rate
                                    ORDER BY yr_dt DESC
                                    LIMIT 1
                                ) - #{searchPeriod}
                      AND (
                          SELECT yr_dt
                              FROM base_rate
                              ORDER BY yr_dt DESC
                              LIMIT 1
                          )
        ORDER BY date
    </select>
    <!--  기준금리와 kospi 기간 세부 설정  -->
    <select id="selectBaseRateAndKospiDetail" parameterType="hashMap" resultType="hashMap">
        SELECT CONCAT(ki.yr_dt, '/', ki.mon_dt, '/', ki.dy_dt) AS date
             , ki.val
             , 'kospi'                                AS type
            FROM kospi_index ki INNER JOIN base_rate br ON CONCAT(ki.yr_dt, ki.mon_dt, ki.dy_dt) = CONCAT(br.yr_dt, br.mon_dt, br.dy_dt)
            WHERE CONCAT(ki.yr_dt, ki.mon_dt, ki.dy_dt) BETWEEN #{searchStartDate} AND #{searchEndDate}
        UNION ALL
        SELECT CONCAT(br.yr_dt, '/', br.mon_dt, '/', br.dy_dt) AS baseDate
             , br.val
             , 'base'                                 AS type
            FROM base_rate br INNER JOIN kospi_index ki ON CONCAT(ki.yr_dt, ki.mon_dt, ki.dy_dt) = CONCAT(br.yr_dt, br.mon_dt, br.dy_dt)
            WHERE CONCAT(br.yr_dt, br.mon_dt, br.dy_dt) BETWEEN #{searchStartDate} AND #{searchEndDate}
        ORDER BY date
    </select>
</mapper>