<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="bi.admin.RealEstate">

    <select id="getTradeRealAptList" parameterType="com.teraenergy.bisolution.admin.realestate.RealEstateDTO"
            resultType="com.teraenergy.bisolution.admin.realestate.RealEstateDTO">
        SELECT apt_nm
             , land_area
             , land_no
             , road_nm
             , dong
             , eupmyundong_cd
             , sigungu_cd
             , trade_month
             , trade_year
             , built_year
             , payment
             , idx
             , layer
        FROM trade_real_apt
        WHERE 1 = 1 LIMIT 0,10
    </select>
    <insert id="insertGenderPopulation" parameterType="hashMap">
        INSERT INTO gender_population
        ( yr_dt
        , mon_dt
        , gender
        , area_cd
        , cty_nm
        , dst_nm
        , unit
        , val)
        VALUES ( #{yrDt}
               , #{monDt}
               , #{gender}
               , #{areaCd}
               , #{ctyNm}
               , #{dstNm}
               , #{unit}
               , #{val}) ON DUPLICATE KEY
        UPDATE yr_dt = #{yrDt}
            , mon_dt = #{monDt}
            , gender = #{gender}
            , cty_nm = #{ctyNm}
            , dst_nm = #{dstNm}
    </insert>
    <insert id="insertAptSalesStatus" parameterType="hashMap">
        INSERT INTO apt_account
        ( yr_dt
        , mon_dt
        , cty_nm
        , dst_nm
        , unit
        , val)
        VALUES ( #{yrDt}
               , #{monDt}
               , #{ctyNm}
               , #{dstNm}
               , #{unit}
               , #{val}) ON DUPLICATE KEY
        UPDATE yr_dt = #{yrDt}
            , mon_dt = #{monDt}
            , cty_nm = #{ctyNm}
            , dst_nm = #{dstNm}
    </insert>
    <insert id="insertUnsoldHouse" parameterType="hashMap">
        INSERT INTO unsold_house
        ( yr_dt
        , mon_dt
        , cty_nm
        , dst_nm
        , unit
        , val)
        VALUES ( #{yrDt}
               , #{monDt}
               , #{ctyNm}
               , #{dstNm}
               , #{unit}
               , #{val}) ON DUPLICATE KEY
        UPDATE yr_dt = #{yrDt}
            , mon_dt = #{monDt}
            , cty_nm = #{ctyNm}
            , dst_nm = #{dstNm}
    </insert>
    <insert id="insertAgeAptSales" parameterType="hashMap">
        INSERT INTO age_apt
        ( yr_dt
        , mon_dt
        , age
        , cty_nm
        , dst_nm
        , unit
        , val)
        VALUES ( #{yrDt}
               , #{monDt}
               , #{age}
               , #{ctyNm}
               , #{dstNm}
               , #{unit}
               , #{val}) ON DUPLICATE KEY
        UPDATE yr_dt = #{yrDt}
            , mon_dt = #{monDt}
            , age = #{age}
            , cty_nm = #{ctyNm}
            , dst_nm = #{dstNm}
    </insert>
    <insert id="insertPopulationAge" parameterType="hashMap">
        INSERT INTO population
        ( yr_dt
        , mon_dt
        , area_cd
        , age
        , cty_nm
        , dst_nm
        , unit
        , man_cnt
        , wmn_cnt)
        VALUES ( #{yrDt}
               , #{monDt}
               , #{areaCd}
               , #{age}
               , #{ctyNm}
               , #{dstNm}
               , #{unit}
               , #{cnt}
               , 0)
    </insert>
    <update id="updateWomanPopulation" parameterType="hashMap">
        UPDATE population
        SET wmn_cnt = #{cnt}
        WHERE yr_dt = #{yrDt}
          AND mon_dt = #{monDt}
          AND area_cd = #{areaCd}
          AND cty_nm = #{ctyNm}
          AND dst_nm = #{dstNm}
          AND age = #{age}
    </update>
    <insert id="insertGrp" parameterType="hashMap">
        INSERT INTO grp
        ( yr_dt
        , cty_nm
        , unit
        , val)
        VALUES ( #{yrDt}
               , #{ctyNm}
               , #{unit}
               , #{val}) ON DUPLICATE KEY
        UPDATE yr_dt = #{yrDt}
            , cty_nm = #{ctyNm}
    </insert>

    <select id="genderMaxDate" resultType="hashMap">
        SELECT MAX(yr_dt)  AS yrDt
             , MAX(mon_dt) AS monDt
        FROM gender_population
        WHERE yr_dt = (SELECT MAX(yr_dt) FROM gender_population)
    </select>
    <select id="aptSalesMaxDate" resultType="hashMap">
        SELECT MAX(yr_dt)  AS yrDt
             , MAX(mon_dt) AS monDt
        FROM apt_account
        WHERE yr_dt = (SELECT MAX(yr_dt) FROM apt_account)
    </select>
    <select id="unsoldMaxDate" resultType="hashMap">
        SELECT MAX(yr_dt)  AS yrDt
             , MAX(mon_dt) AS monDt
        FROM unsold_house
        WHERE yr_dt = (SELECT MAX(yr_dt) FROM unsold_house)
    </select>
    <select id="ageAptSalesMaxDate" resultType="hashMap">
        SELECT MAX(yr_dt)  AS yrDt
             , MAX(mon_dt) AS monDt
        FROM age_apt
        WHERE yr_dt = (SELECT MAX(yr_dt) FROM age_apt)
    </select>
    <select id="populationMaxDate" resultType="hashMap">
        SELECT MAX(yr_dt)  AS yrDt
             , MAX(mon_dt) AS monDt
        FROM population
        WHERE yr_dt = (SELECT MAX(yr_dt) FROM population)
    </select>
    <select id="grpMaxDate" resultType="hashMap">
        SELECT MAX(yr_dt) AS yrDt
        FROM grp
    </select>
    <insert id="insertGenderAgeApt" parameterType="hashMap">
        INSERT INTO gender_age_apt
        ( yr_dt
        , cty_nm
        , dst_nm
        , age
        , ttl_cnt
        , unit)
        VALUES ( #{yrDt}
               , #{ctyNm}
               , #{dstNm}
               , #{age}
               , #{val}
               , #{unit}) ON DUPLICATE KEY
          UPDATE yr_dt = #{yrDt}
            , cty_nm = #{ctyNm}
            , age = #{age}
    </insert>
    <update id="updateGenderAgeAptMan" parameterType="hashMap">
        UPDATE gender_age_apt
        SET man_cnt = #{val}
        WHERE yr_dt = #{yrDt}
          AND cty_nm = #{ctyNm}
          AND age = #{age}
    </update>
    <update id="updateGenderAgeAptWmn" parameterType="hashMap">
        UPDATE gender_age_apt
        SET wmn_cnt = #{val}
        WHERE yr_dt = #{yrDt}
          AND cty_nm = #{ctyNm}
          AND age = #{age}
    </update>
</mapper>